.about-me {
   padding-top: 120px;
   &__wrapper {
      display: grid;
      grid-template-columns: 400px 570px;
      grid-template-rows: minmax(245px, auto) minmax(255px, auto);
      grid-auto-rows: minmax(245px, auto);
      column-gap: 70px;
      row-gap: 40px;
   }
   &__photo {
      grid-row: 1/3;
      img {
         width: 100%;
         height: 100%;
         object-fit: cover;
      }
   }
   &__title {
      position: relative;
      padding-left: 12px;
      margin-top: 6px;
      @include before-circle;
      z-index: 2;
   }
   &__line {
      margin-top: 0;
      width: 60px;
      height: 3px;
      background-color: $main-color;
   }
   &__text {
      margin-top: 20px;
      font-weight: 500;
      font-size: 14px;
      line-height: 21px;
   }
   &__list {
      display: grid;
      grid-template: repeat(2, minmax(115px, auto)) / repeat(2, 260px);
      grid-auto-rows: 1fr;
      column-gap: 50px;
      row-gap: 20px;
   }
   &__item {
      display: grid;
      grid-template-columns: 40px 200px;
      column-gap: 20px;
      &-text {
         margin-top: 6px;
         font-weight: 500;
         font-size: 12px;
         line-height: 18px;
      }
      &-img {
         position: relative;
         margin: 15px 0 0 15px;
         @include before-circle;
         &::before {
            top: -14px;
            left: -65%;
         }
      }
   }
}
