.contacts {
   padding: 120px 0 91px 0;
   &__img {
      img {
         width: 100%;
         height: 100%;
         object-fit: cover;
      }
   }
   &__title {
      position: relative;
      padding-left: 12px;
      margin-top: 6px;
      @include before-circle;
      z-index: 2;
   }
   &__line {
      margin-top: 0;
      width: 60px;
      height: 3px;
      background-color: $main-color;
   }
   &__subtitle {
      margin-top: 20px;
   }
   &__wrapper {
      padding: 0 35px 0 52px;
      display: grid;
      grid-template-columns: 400px 585px;
      justify-content: space-between;
      align-items: flex-start;
   }
   &__social {
      margin-top: 20px;
      a {
         text-decoration: none;
      }
   }
   &__link {
      max-width: 30px;
      max-height: 30px;
      margin-right: 25px;
      text-decoration: none;
   }
   &__form {
      margin-top: 30px;
      display: grid;
      grid-template: 45px 190px 45px / repeat(2, 280px);
      justify-content: space-between;
      row-gap: 29px;
      label {
         position: absolute;
         top: -9px;
         left: 12px;
         padding: 0 8px;
         font-weight: 500;
         font-size: 12px;
         color: #000000;
         background-color: #fff;
         margin-bottom: 0;
      }
   }
   &__input {
      position: relative;
      input {
         display: block;
         padding: 0 20px;
         width: 100%;
         height: 100%;
      }
   }
   &__text {
      position: relative;
      grid-column: 1 / 3;
      textarea {
         display: block;
         padding: 20px;
         width: 100%;
         height: 100%;
         resize: none;
      }
   }
   &__btn {
      display: block;
      border-style: none;
      font-weight: bold;
      font-size: 14px;
      color: #000000;
      &:focus {
         outline: none;
      }
   }
   &__submit {
      grid-column: 1 / 3;
      display: flex;
      align-items: center;
   }
   &__policy {
      margin-left: 17px;
      display: flex;
      justify-content: center;
      align-items: center;
      input {
         display: block;
      }
      span {
         margin-left: 10px;
         display: block;
         font-weight: 500;
         font-size: 12px;
         line-height: 19px;
         color: #000000;
      }
   }
}
