.left-block {
   position: fixed;
   top: 225px;
   left: 55px;
   display: flex;
   flex-direction: column;
   justify-content: space-between;
   align-items: center;
   height: 340px;
   width: 25px;
   &__line {
      height: 70px;
      width: 2px;
      background-color: #000;
   }
   &__text {
      font-weight: bold;
      font-size: 15px;
      line-height: 24px;
      height: 150px;
      width: 25px;
      span {
         display: block;
         transform: rotate(-90deg) translate(-40%, -260%);
         width: 150px;
      }
   }
}
