.overview {
   position: fixed;
   top: 0;
   left: -100%;
   width: 100%;
   height: 100vh;
   z-index: 10;
   visibility: hidden;
   opacity: 0;
   transition: 0.6s all;
   &.active {
      left: 0;
      opacity: 1;
      visibility: visible;
   }
   &__menu {
      position: relative;
      left: 0;
      height: 100vh;
      width: 345px;
      background-color: $main-color;
      z-index: 10;
      transition: 0.6s all;
      ul {
         list-style-type: none;
      }
      &_close {
         position: absolute;
         cursor: pointer;
         right: 25px;
         top: 25px;
      }
      &_list {
         padding-top: 140px;
         padding-left: 40px;
         a {
            font-weight: bold;
            font-size: 24px;
            line-height: 36px;
            color: #ffffff;
            &:hover {
               &::before {
                  background: #fff;
               }
            }
         }
      }
      &_link {
         position: relative;
         display: block;
         margin-bottom: 15px;
         margin-left: 35px;
         &::before {
            content: "";
            position: absolute;
            top: 10px;
            left: -35px;
            width: 15px;
            height: 15px;
            border: 1px solid #000000;
            border-radius: 100%;
            transition: 0.6s all;
         }
      }
      &_social {
         position: absolute;
         bottom: 50px;
         left: 50%;
         transform: translateX(-50%);
         display: flex;
         justify-content: space-between;
         align-items: center;
         width: 90px;
      }
   }

   &__background {
      position: fixed;
      left: 0;
      top: 0;
      width: 100%;
      height: 100%;
      background: #fff;
      opacity: 0.6;
   }
}
