.portfolio {
   padding-top: 126px;
   &__wrapper {
      margin-top: 85px;
      display: grid;
      grid-template-columns: repeat(4, 280px);
      grid-template-rows: repeat(2, 280px);
      grid-auto-rows: 280px;
      gap: 5px 5px;
   }
   &__item {
      transition: all 0.5s;
      img {
         width: 100%;
         height: 100%;
         object-fit: cover;
      }
      &:nth-child(4) {
         grid-row: 1 / 3;
         grid-column: 4 / 5;
      }
      &:nth-child(6) {
         grid-row: 2 / 3;
         grid-column: 2 / 4;
      }
      &:hover {
         filter: grayscale(100%);
      }
   }
}
