.promo {
   position: relative;
   min-height: 100vh;
   background: url(../img/bg/main-bg.jpg) no-repeat 50% / cover;
   padding-top: 205px;
   &__btns {
      display: flex;
      justify-content: space-between;
      align-items: center;
      width: 250px;
      margin-top: 25px;
      a {
         text-decoration: none;
         &:hover {
            color: #000;
         }
      }
   }
   &__link {
      font-size: 14px;
      line-height: 21px;
      color: #000;
      font-weight: 700;
   }
   &__subtitle {
      position: relative;
      padding-left: 10px;
      @include before-circle;
      z-index: 2;
   }
   &__title {
      margin-top: 10px;
      width: 535px;
   }
}
