.skills {
   padding-top: 126px;
   &__wrapper {
      display: grid;
      grid-template-columns: repeat(4, 270px);
      grid-template-rows: repeat(2, minmax(270px, auto));
      grid-auto-rows: minmax(270px, auto);
      gap: 13px 13px;
      margin-top: 85px;
      justify-content: center;
   }
   &__item {
      width: 270px;
      min-height: 270px;
      border: 1px solid #000000;
      padding: 30px 29px 25px 30px;
      &-img {
         min-height: 65px;
         display: flex;
         align-items: center;
      }
      &-title {
         margin-top: 20px;
      }
      &-descr {
         margin-top: 15px;
         font-weight: 500;
         font-size: 12px;
         line-height: 18px;
         color: #000000;
      }
   }
   &__percent {
      display: grid;
      grid-template-columns: repeat(3, 350px);
      grid-template-rows: repeat(2, minmax(70px, auto));
      grid-auto-rows: minmax(70px, auto);
      column-gap: 45px;
      row-gap: 30px;
      margin-top: 120px;
      &-descr {
         display: flex;
         justify-content: space-between;
         align-items: center;
      }
      &-skill {
         position: relative;
         padding-left: 13px;
         @include before-circle;
         &::before {
            top: -8px;
         }
      }
      &-value {
         font-weight: 500;
         font-size: 14px;
         line-height: 21px;
         color: #000000;
      }
      &-scale {
         margin-top: 27px;
         position: relative;
         &-bg {
            height: 14px;
            background: #e8e4de;
            border-radius: 4px;
         }
         &-current {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 14px;
            background: #ffa501;
            border-radius: 4px;
         }
      }
   }
}
