.title {
   font-weight: bold;
   font-size: 36px;
   line-height: 60px;
   &__fz14 {
      font-size: 14px;
      line-height: 21px;
   }
   &__fz16 {
      font-size: 16px;
      line-height: 24px;
   }
   &__fz20 {
      font-size: 20px;
      line-height: 30px;
   }
   &__fz36 {
      font-size: 36px;
   }
   &__fz48 {
      font-size: 48px;
   }
   &__mt6 {
      margin-top: 6px;
   }
   &__circle {
      position: relative;
      font-size: 16px;
      line-height: 24px;
      text-align: center;
      @include before-circle;
      &::before {
         left: 50%;
         transform: translateX(-50%);
      }
   }
   &__center {
      margin-top: 6px;
      text-align: center;
   }
}
